# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
*.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore PowerPoint files
*.pptx

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db
